## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.vs/
.vs/
*.nupkg
packages/

## BepInEx build output
*.dll
!Decompiled/**
!lib/**

## OS
Thumbs.db
Desktop.ini
.DS_Store

## IDE
.idea/
*.sln.DotSettings.user
*.claude/